body {
    background-color: white;
    color: black


}

* {
    padding: 0px;
}


.botao {
    background-color: #646464;
    border-radius: 10px;
    padding: 1em;
    color: rgb(0, 0, 0);
    font-style: none;

}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}

.fundo{
    margin: 0% 0vh 0 100%;

}