body {
    background-color: rgb(255, 255, 255);
    background-image: url(https://site-de-vendas-pi.vercel.app/61LqAe+zqOL._AC_UF894,1000_QL80_.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: rgb(0, 0, 0)
    


}

* {
    padding: 0%;
}


.botao {
    background-color: #0f00b1;
    border-radius: 10px;
    padding: 1em;
    color: white;
    font-style: none;
    margin-bottom: 2em;
    text-decoration: none;

}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 20%;
    text-align: center;


}

.fundo{
    margin: 0 0 0 0;

}

.text {
    font-size: 30px;
    margin: 15vh;

}

.logo{
 height: 0px;
 width: 0px;

}

.nnn{
    width: 100px;
    height: 100px;

}

.botoes{
    text-align: center;
    color: rgb(253, 253, 253);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.botao1{
    font-style: none;
    padding: 1vh;
    background-color: grey;
    color: black;
    border-radius: 10px;
    border: solid transparent 1px;

}

.botao2 {
    font-style: none;
    padding: 1vh;
    background-color: grey;
    color: black;
    border-radius: 10px;
    border: solid transparent 1px;

}

.botao3{
    font-style: none;
    padding: 1vh;
    background-color: grey;
    color: black;
    border-radius: 10px;
    border: solid transparent 1px;

}

.botao4{
    font-style: none;
    padding: 1vh;
    background-color: grey;
    color: black;
    border-radius: 10px;
    border: solid transparent 1px;

}

.conteiner_secundario{
    background-image: url(https://site-de-vendas-pi.vercel.app/funko.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;

}

.thor{
    width: 500px;
    height: 500px;
    margin: 0 5vh;

}

.texto2 {
    font-size: 30px;
    font-variant-position: right;
    


}