body {
    background-color: #190030;
    color: white


}

* {
    padding: 0px;
}

.thor {
    height: 200px;
    width: 200px;

}

.conteiner {
    display: grid;
    grid-template-columns: 50% 50%;

}

.botao {
    background-color: #120063;
    border-radius: 16px;

}